

form{
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 50%;
  border-collapse: collapse;
}



td, th {
  padding: 10px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

input[type=submit] {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover{
  background-color: blue;
}



